<div class="header border-b-2 flex justify-between p-4">
    <h3 class="font-semibold text-xl"> {{user.subscriptions|length + user.subscribedSpaces|length}} abonnements </h3>
    <select name="" id="">
        <option value="" selected>Personnes</option>
        <option value="">Espaces</option>
        <option value="">Sujets</option>
    </select>
</div>
<div class="subscriptions mt-3">
    {% for subscription in user.subscriptions %}
    <a href="{{path('app_user_profile',{'pseudonym':subscription.pseudonym})}}">
        <div class="border-b-2 flex justify-between p-4">
            <h3 class="font-black align-center"><img class="inline mr-2" src="https://placehold.it/40x40" alt="">{{subscription.pseudonym}}, <span class="font-semibold text-gray-400">metier</span></h3>
            {% if (subscription.isSubscribedTo(app.user) and subscription != app.user) %}
            <a href="#" class="subcribed pl-4 pr-4 pt-2 w-32 block text-center rounded-full border bg-gray-100 hover:bg-gray-200">Vous suit</a>
            {% endif %}
        </div>
    </a>
   {% endfor %} 
    {% for space in user.subscribedSpaces %}
    <a href="{{path('app_space_show',{'id':space.id})}}">
        <div class="border-b-2 p-4">
            <h3 class="font-black align-center"><img class="inline mr-2 rounded" src="https://placehold.it/40x40" alt="">{{space.name}}</h3>
            <p class="font-semibold text-gray-300">{{space.subscribers|length}} abonnées</p>
            <p>{{space.description}}</p>
        </div>
    </a>
    {% endfor %}
    <div class="flex justify-center">
        <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
        </div>
    </div>
</div>