{% extends 'base.html.twig' %}

{% block title %}Quiver-Un lieu pour partager le savoir et mieux comprendre le monde{% endblock %}

{% block body %}
<div class="h-screen pt-6 loginBackground">
    <div class="container mx-auto bg-white pt-6 w-full xl:w-8/12 p-6 rounded">
        <div class="mb-10">
            <h1 class="text-7xl text-indigo-400 font-bold pt-6 text-center">Quiver</h1>
            <p class="font-bold mt-3 mb-3 text-xl text-center">Un lieu pour partager le savoir et mieux comprendre le monde</p>
        </div>
        


        <div class="grid grid-cols-12 ">
            <div class="col-span-12 mb-4 md:mb-0 lg:col-span-6 md:border-r-4 pr-3">
                <h2 class="border-b-4 text-xl font-bold mb-3"> S'inscrire </h2>
                <div id="googleForm">
                    <a href="" class="flex justify-center text-xl border p-3 hover:bg-gray-200">
                        <i class="bi bi-google"></i>
                        <p class="ml-2">Connexion avec Google</p>
                    </a>
                    <a id="displayEmailForm" class="block text-center mt-3" href="#">S'inscrire avec votre adresse e-mail</a>
                </div>
                <div class="emailForm hidden">
                        {{ form_start(registration_form) }}
                        {{ form_row(registration_form.firstName) }}
                        {{ form_row(registration_form.lastName) }}
                        {{ form_row(registration_form.email) }}
                        {{ form_row(registration_form.pseudonym ) }}
                        {{ form_row(registration_form.plainPassword, {
                            label: 'Password'
                        }) }}
                        <input type="hidden" name="registration_form[_csrf_token]" value="{{ csrf_token('register') }}">
                        <div class="flex justify-end">
                            <button class="p-2 bg-indigo-400 text-white font-semibold rounded" type="submit">S'inscrire</button>
                        </div>
                        {{ form_end(registration_form) }}
                </div>
            </div>

            <div class="col-span-12 lg:col-span-6 ml-2 pl-3">
                <h2 class="border-b-4 text-xl font-bold"> Se connecter</h2>
                <form method="post" class="mt-4">
                    <div class="flex flex-col">
                        <div class="mb-6 flex flex-col">
                            <label for="inputEmail" class="font-bold mb-3">Email: </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre e-mail" autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-6 flex flex-col mt-4">
                            <label for="inputPassword" class="font-bold mb-3">Mot de passe: </label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="flex justify-end">
                        <button class="p-2 bg-indigo-400 text-white font-semibold rounded" type="submit">Se connecter</button>
                    </div>
                    {% if error %}
                    <div class="mt-4 bg-red-100 border-r-4 border-red-500 text-red-700 p-4 text-center" role="alert">
                        <p class="font-bold">Authentification échouée</p>
                        <p>{{ error.messageKey|trans(error.messageData, 'security','fr_FR') }}</p>
                    </div>
                    {% endif %}
                    <div class="mt-4 flex flex-col items-center">
                        <p class="mt-2">Envie de tester l'application ?</p>
                        <a id="generateUser" href="#" class="text-center mt-2 font-bold block p-3 bg-indigo-400 text-white rounded w-96">
                        Cliquez ici pour vous connecter avec un compte existant
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-10 bg-color-50 flex justify-center">
            {% include 'partials/_footer.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    document.querySelector('#displayEmailForm').addEventListener('click',function(e){
        e.preventDefault();
        document.querySelector('#googleForm').classList.add('hidden');
        document.querySelector('.emailForm').classList.remove('hidden');
    })
</script>
{% endblock %}
