{% extends 'base.html.twig' %}

{% block title %} {{question.question}} {% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-12 gap-4 flex justify-between">
            <div class="col-span-12 lg:col-span-7">
                <div class="answerHeader border-b-2 pb-3">
                    <div class="tags">
                        <ul class="flex flex-row flex-wrap">
                        {% for space in question.space %}
                            <li class="bg-gray-200 p-2 m-1 rounded"><a href="{{path('app_space_show',{'id':space.id})}}">{{space.name}}</a></li>
                        {% endfor %}
                            <li class="bg-gray-200 p-2 m-1"><a href="#"><i class="bi text-xl bi-pencil"></i></a></li>
                        </ul>
                    </div>
                    <h1 class="text-2xl font-black p-3">{{question.question}}</h1>
                    <div class="actions flex">
                        <a class="block mr-2" href="#"><i class="bi text-xl bi-pencil"></i> Répondre</a>
                        <a class="block mr-2 likeButton" href="#"><i class="bi text-xl bi-arrow-up-square"></i> Vote positif</a>
                        <a class="block mr-2 dislikeButton" href="#"><i class="bi text-xl bg-gray-200 bi-arrow-down-square"></i> Vote négatif</a>
                    </div>
                </div>
                <p class="p-2 text-2xl"> {{question.answers|length}} Reponses </p>
               <div class="content">
                {% include 'partials/question_headers/question_header_singleQuestion.html.twig' %}
               </div>
                <div class="flex justify-center hidden loadingMoreAnswersSpinner">
                    <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
                    </div>
                </div>
                <div class="flex justify-center" id="generateAnswers">
                    <a href="#" class="mt-4 text-center rounded-full w-80 p-3 bg-indigo-500 font-bold text-white text-xl">Charger plus de réponses </a>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-4 row-span-2"> 
                <h3 class="pb-3 border-b-2 text-center">Questions similaires</h3>
                <ul class="text-center">
                {% for question in alternativeQuestions %}
                    <li class="mb-3 hover:bg-gray-200"><a href="{{path('app_question_show',{'id':question.id})}}" class="text-indigo-500">{{question.question}} </a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
