
    <a href="#">
        <div class="postBody">
            <img class="block" src="https://picsum.photos/900/320" alt="" width="100%">
            <div class="mt-2 answer" style="height:95px;overflow:hidden">
                {{answer.answer}}
                <a class="moreLink" href="#">(more)</a>
            </div>
            <p>{{formatViewsNumber(answer.viewsNumber)}} vues</p>
        </div>
    </a>
    <div class="postFooter mt-4">
        <div class="grid grid-cols-7">
            <div class="col-span-4 flex justify-start">
                <p class="text-xl"><a class="block p-2 rounded hover:bg-gray-200 mr-1 {% if app.user in answer.likedUsers %} liked {% endif %} likeButton" href="#"><i class="bi text-2xl bi-arrow-up-square mr-2"></i><span id="answer_{{answer.id}}_likeNumber">{{answer.likedUsers|length}}</span></a></p>
                <p class="text-xl"><a class="block p-2 rounded hover:bg-gray-200 mr-1 {% if app.user in answer.dislikedUsers %} disliked {% endif %} dislikeButton" href="#"><i class="bi text-2xl bi-arrow-down-square mr-2"></i><span id="answer_{{answer.id}}_dislikeNumber">{{answer.dislikedUsers|length}}</span></a></p>
                <p class="text-xl"><a class="block p-2 rounded hover:bg-gray-200 mr-1 commentButton" href="#"><i class="bi text-2xl bi-chat mr-2"></i><span>{{answer.comments|length}}</span></a></p>
            </div>
            <div class="col-span-3 flex justify-end">
                <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
            </div>
        </div>
        <a style="display:block" href="#" class="numberOfComments block p-3 mt-2 bg-gray-200 text-gray-400">{{answer.comments|length}} commentaires</a>
        <div style="display:none" class="comments mt-3"> 
            <div class="commentForm mb-4">
                <form class="flex w-full" action="#" method="post">
                    <div class="grid grid-cols-12">
                        <div class="col-span-1 flex self-center">
                            <img class="block rounded-full" src="https://placehold.it/50x50" alt="">
                        </div>
                        <div class="col-span-9">
                            <textarea required="required" class="commentSpace" name="comment" id="comment_answer_{{answer.id}}" class="w-full"></textarea>
                        </div>
                        <input type="hidden" name="answerId" value="{{answer.id}}">
                        <div class="col-span-2 ml-3 flex justify-end self-center">
                            <button type="submit" class="p-2 bg-indigo-400 text-white rounded">Commenter ce contenu</button>
                        </div>   
                    </div>
                </form>
            </div>
            <div class="commentList">
            </div>
            <div class="flex justify-center hidden loadingMoreCommentsSpinner">
                <div style="border-top-color:transparent" class="w-16 h-16 border-4 border-blue-400 border-solid rounded-full animate-spin">
                </div>
            </div>
            <div class="bg-gray-200 rounded-full mt-2 mb-2">
                <a href="#" class="p-2 block font-semibold text-center rounded w-50 loadMoreComments">Voir plus de commentaires</a>
            </div>
        </div>
    </div>
