{% for comment in comments %}
    <div class="commentheader flex mt-3">
        <img class="block rounded-full" src="https://placehold.it/45x45" alt="">
        <div class="ml-2">
            <p class="font-semibold text-xl">{{comment.author.pseudonym}}</p>
            <p class="text-gray-300">{{comment.createdAt|date('d/m/Y')}}</p>
        </div>
    </div>
    <p class="p-4 pt-0">{{comment.comment}}</p>
    <div class=" ml-3 pl-3 border-l-4 sub_comments">
        {% for subComments in comment.subComments %}
        <div class="commentheader flex ">
            <img class="block rounded-full" src="https://placehold.it/45x45" alt="">
            <div class="ml-2">
                <p class="font-semibold">{{subComments.author.pseudonym}}</p>
                <p class="text-gray-300">{{subComments.createdAt|date('d/m/Y')}}</p>
            </div>
        </div>
        <div class="p-4 pt-1 mb-3">
            {{subComments.subComment}}
        </div>
        {% endfor %}
    </div>
{% endfor %}
    <div class="bg-gray-200 rounded-full mt-2 mb-2">
        <a href="#" class="p-2 block font-semibold text-center rounded w-50">Voir plus de commentaires</a>
    </div>