<div class="container-fluid bg-white mb-6">
    <header class="container mx-auto">
        <div class="grid grid-cols-11 pt-3">
            <div class="col-span-1 text-center">
                <a class="block text-indigo-500 text-4xl font-semibold" href="{{path('app_home')}}">Quiver</a>
            </div>
            <div class="col-span-3 flex justify-center">
                <a class="block mr-10 active" href="{{path('app_home')}}"><i class="bi mb-0 text-3xl bi-house-door-fill "></i></a>
                <a class="block mr-10" href="{{path('app_space_following')}}"><i class="bi text-3xl bi-card-list"></i></a>
                <a class="block mr-10" href="{{path('app_answer_index')}}"><i class="bi text-3xl bi-pencil-square"></i></a>
                <a class="block mr-10" href="{{path('app_space_index')}}"><i class="bi text-3xl bi-collection"></i></a>
                <a class="block mr-10" href="#"><i class="bi text-3xl bi-bell"></i></a>
            </div>
            <div class="col-span-4 flex justify-center">
                <input type="text" class="p-2" name="search" id="search" placeholder="Rechercher dans Quiver" size="70">
            </div>
            <div class="col-span-1 text-center flex flex-row">
                <a class="block pr-6" href="{{path('app_profile')}}"> <i class="bi text-3xl bi-person-circle"></i></a>
                <a class="block" href="#"><i class="text-3xl bi bi-globe"></i></a>
            </div>
            <div class="col-span-2">
                <a href="#" class="block text-center text-white bg-indigo-500 rounded-full py-1 px-5">Ajouter une question</a>
            </div>
        </div>
    </header>
</div>