<div class="container-fluid bg-white mb-6">
    <header class="container mx-auto pt-2">
        <div class="grid grid-cols-12 pt-3">
            <div class="col-span-3 text-center sm:col-span-3 md:col-span-3 lg:col-span-2 xl:col-span-2">
                <a class="block text-indigo-500 text-4xl font-semibold" href="{{path('app_home')}}">Quiver</a>
            </div>
            {% if app.user is not same as null %}
            <div class="flex col-span-8 sm:col-span-7 md:col-span-6 lg:col-span-4 xl:col-span-3">
                <a class="block pb-2 mr-10 {% if page is defined and page is same as 'home' %} active {% endif %}" href="{{path('app_home')}}"><i class="bi mb-0 text-3xl bi-house-door-fill "></i></a>
                <a class="block pb-2 mr-10 {% if page is defined and page is same as 'following' %} active {% endif %}" href="{{path('app_space_following')}}"><i class="bi text-3xl bi-card-list"></i></a>
                <a class="block pb-2 mr-10 {% if page is defined and page is same as 'answer' %} active {% endif %}" href="{{path('app_answer_index')}}"><i class="bi text-3xl bi-pencil-square"></i></a>
                <a class="block pb-2 mr-10 {% if page is defined and page is same as 'space' %} active {% endif %}" href="{{path('app_space_index')}}"><i class="bi text-3xl bi-collection"></i></a>
                <a class="block pb-2 mr-10" href="#"><i class="bi text-3xl bi-bell"></i></a>
            </div>
            <div class="hidden lg:block lg:col-span-5 xl:col-span-4 flex justify-center">
                <input type="text" class="p-2" name="search" id="search" placeholder="Rechercher des questions, personnes et sujets" size="45">
            </div>
            <div class="text-center flex col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-1 xl:col-span-1">
                <a class="block pr-6" href="{{path('app_user_profile',{'pseudonym':app.user.pseudonym})}}"> <i class="bi text-3xl bi-person-circle"></i></a>
                <a class="hidden sm:block" href="#"><i class="text-3xl bi bi-globe"></i></a>
            </div>
            <div class="hidden xl:col-span-2 xl:block">
                <a href="#" class="block text-center text-white bg-indigo-500 rounded-full py-1 px-5 modal-open">Ajouter une question</a>
                {% include 'partials/modals/_question_create_modal.html.twig' %}
            </div>
            {% else %}
            <div class="lg:block lg:col-span-5 xl:col-span-8 flex justify-center">
                <input type="text" class="p-2" name="search" id="search" placeholder="Rechercher des questions, personnes et sujets" size="45">
            </div>
            <div class="xl:col-span-2 xl:block">
                <a href="{{path('app_login')}}" class="block text-center text-white bg-indigo-500 rounded-full py-1 px-5 modal-open">Se connecter</a>
            </div>
            {% endif %}
        </div>
    </header>
</div>