{% extends 'base.html.twig' %}

{% block title %} Suivi {% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-4 flex justify-between">
            <div class="col-span-12 sm:col-span-12 md:col-span-12 xl:col-span-2">
                {% include 'partials/_leftSideBar.html.twig' %}
                <div class="hidden xl:block">
                    {% include 'partials/_footer.html.twig' %}
                </div>
            </div>
            <div class="col-span-12 xl:col-span-10">
                <div class="container mx-auto">
                    <div class="bg-white p-4 mb-4 border border-gray-300">
                        <p class="text"> Alexandre RAVICHANDRAN</p>
                        <p class="text-2xl font-semibold">Quel est votre question ou quel est votre lien ?</p>
                    </div>
                {% for question in questions %}
                    <div class="bg-white p-4 mb-3 border border-gray-300">
                        <div class="postHeader">
                            <p class="text-xl"><img class="block" src="https://placehold.it/60x60" alt="">{{question.space[0].name}}</p>
                            <p class="text-sm text-gray-400">Publication par {{question.author.pseudonym}} - le {{question.createdAt|date('d/m/Y')}}</p>
                            <a href="{{path('app_question_show',{'id':question.id})}}" class="block text-xl font-black">{{question.question}}</a>
                        </div>
                        <div class="postBody">
                            <p>{{question.answers[0].answer}}</p>
                            <p>{{question.answers[0].viewsNumber}} vues</p>
                        </div>
                        <div class="postFooter">
                            <div class="grid grid-cols-7">
                                <div class="col-span-4 flex justify-start">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-up-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-xl bi-chat mr-1"></i><span>{{question.answers[0].comments|length}}</span></a>
                                </div>
                                <div class="col-span-3 flex justify-end">
                                    <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="block xl:hidden">
            {% include 'partials/_footer.html.twig' %}
        </div>
    </div>

{% endblock %}