{% extends 'base.html.twig' %}

{% block title %}{{space.name}} - Quiver{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-12">
            <div class="col-span-12 xl:col-span-2">
                {% include 'partials/_left_side_bar.html.twig' %}
            </div>
            <div class="col-span-12 xl:col-span-7">
                <div class="bg-white flex flex-col items-center p-3">
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a id="changeSpacePicture" class="hover:opacity-50" href="#">
                        <img class="block" src="https://picsum.photos/300/150" alt="">
                    </a>
                    {% else %}
                        <img class="block" src="https://picsum.photos/300/150" alt="">
                    {% endif %}
                    <h1 class="mt-2 font-black text-xl">{{space.name}}</h1>
                    <p class="text-gray-400 my-2">{{space.description}}</p>
                    {% if space.hasSubscriber(app.user) %}
                    <a data-id="{{space.id}}" id="spaceSubscribeButton" href="#" class="block mt-2 text-center border border-indigo-400 p-2 rounded w-28 text-xl subscribedSpace"><i class="bi bi-person-check-fill text-2xl mr-2"></i>Suivi</a>
                    {% else %}
                    <a data-id="{{space.id}}" id="spaceSubscribeButton" href="#" class="block mt-2 text-center border border-indigo-400 p-2 rounded w-28 text-xl notSubscribedSpace"><i class="bi bi-person-plus text-2xl mr-2"></i>Suivre</a>
                    {% endif %}
                </div>
                <nav class="border-b-4 mb-4">
                    <ul class="flex">
                        <li class="item-list p-3 {% if partial is defined and partial is same as 'index' %}active{% endif %}"><a href="{{path('app_space_show',{'id':space.id})}}">Lire</a></li>
                        <li class="item-list p-3 {% if partial is defined and partial is same as 'topQuestions' %}active{% endif %}"><a href="{{path('app_space_show_top_question',{'id':space.id})}}">Repondre</a></li>
                    </ul>
                </nav>
                <div class="questionList">
                    {% include 'space/partials/_' ~ partial ~'.html.twig' %}
                </div>
            </div>
            <div class="col-span-12 xl:col-span-3">
                {% include 'partials/_right_side_bar.html.twig' %}
            </div>            
        </div>
    </div>
    {{form_start(form, {'attr': {'class': 'hidden'}}) }}
    <input type="hidden" name="spaceId" value="{{space.id}}">
    {{form_end(form)}}
{% endblock %}