{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}
	<div class="container mx-auto p-4">
		<div class="grid grid-cols-12 gap-4">
			<div class="col-span-12 xl:col-span-3">
				<h2 class="text-center font-semibold border-b-2 p-1">Par type</h2>
				<ul class="text-center mt-2">
					<li class="list-item menuItem {% if type is same as "all" %}menuItemActive{% endif %}">
						<a href="{{path('search_all')}}?q={{query}}">Tous les types</a>
					</li>
					<li class="list-item menuItem {% if type is same as "question" %}menuItemActive{% endif %}">
						<a href="{{path('search_by_question')}}?q={{query}}">Questions</a>
					</li>
					<li class="list-item menuItem {% if type is same as "answer" %}menuItemActive{% endif %}">
						<a href="{{path('search_by_answer')}}?q={{query}}">Réponses</a>
					</li>
					<li class="list-item menuItem {% if type is same as "profile" %}menuItemActive{% endif %}">
						<a href="{{path('search_by_profile')}}?q={{query}}">Profils</a>
					</li>
					<li class="list-item menuItem {% if type is same as "space" %}menuItemActive{% endif %}">
						<a href="{{path('search_by_space')}}?q={{query}}">Espaces</a>
					</li>
				</ul>
			</div>
			<div class="col-span-12 xl:col-span-6">
				<div class="bg-white border border-gray-300 mb-2">
					<h2 class="text-gray-400 p-2">Questions pour vous</h2>
				</div>
				<div id="content" class="bg-white">
                    {% include 'search/partials/_' ~ type ~ '.html.twig' %}
				</div>
				<div class="bg-white flex flex-col p-4 border border-gray-300">
					<h3 class="text-xl">
						Ajouter des sujets que vous connaissez</h3>
					<p class="my-2">L'ajout de sujets nous permettra de trouver des questions auxquelles vous pouvez répondre</p>
					<a href="{{path('app_space_index')}}" class="hover:bg-blue-200 self-center block text-indigo-600 bg-blue-100 p-2 rounded-xl w-40 text-center font-semibold">Ajouter des sujets</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

{% endblock %}
