{% for question in questions %}
    <div class="bg-white p-4 mb-3 border border-gray-300 questionAnswer" data-question-id = {{question.id}} data-questions-date ="{{question.createdAt|date('Y-m-d')}}" data-questions-date ="{{question.createdAt|date('Y-m-d')}}" data-answer-id ="{{question.answers[0].id}}">
        <div class="postHeader mb-3">
            <div class="flex">
                <a class="block" href="{{path('app_space_show',{'id':question.space[0].id})}}">
                    <div>
                        <p class="text-xl"><img class="rounded" src="https://placehold.it/50x50" alt="">
                    </div>
                </a>
                <div class="ml-3 flex flex-col">
                    <p class="font-semibold text-xl">{{question.space[0].name}}</p>
                    <p class="text-gray-400">Réponse de <a href="{{path('app_user_profile',{'pseudonym':question.answers[0].author.pseudonym})}}">{{question.answers[0].author.pseudonym}}</a> - {{question.answers[0].createdAt|date('d/m/Y')}}</p>
                    
                </div>
            </div>
                <a href="{{path('app_question_show',{'id':question.id})}}" class="block text-xl font-black p-2">{{question.question}}</a>
            
                
        </div>
        {% set answer = question.answers[0] %}
        {% include 'partials/_answer_comment_subcomment.html.twig' %}
    </div>
{% endfor %}