{% for question in questions %}
<div class="bg-white p-4 mb-3 border border-gray-300">
    <div class="postHeader">
        <a href="{{path('app_user_profile')}}" class="text-xl">{{question.author.pseudonym}}<a href="#" class="text-indigo-500 text-base ml-2">Suivre</a></p>
        <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eveniet consequatur suscipit neque temporibus delectus laudantium debitis hic alias sed ab maxime dolores repudiandae, ullam unde laborum, pariatur, cupiditate deserunt sequi recusandae. Ipsum molestias magni, error dicta enim autem sint aliquam, culpa qui debitis, fuga nam maiores modi recusandae tenetur.</p>
        <a href="{{path('app_question_show',{'id':question.id})}}" class="block text-xl font-black">{{question.question}}</a>
    </div>
    <a href="#">
        <div class="postBody">
            <p class="" style="height:95px;overflow:hidden">{{question.answers[0].answer}}</p>
            <a class="moreLink" href="#">(more)</a>
            <p>{{question.answers[0].viewsNumber}} vues</p>
        </div>
    </a>
    <div class="postFooter">
        <div class="grid grid-cols-7">
            <div class="col-span-4 flex justify-start">
                <a class="block p-2 rounded hover:bg-gray-200 mr-1" href="#"><i class="bi text-xl bi-arrow-up-square mr-1"></i><span>14</span></a>
                <a class="block p-2 rounded hover:bg-gray-200 mr-1" href="#"><i class="bi text-xl bi-arrow-down-square mr-1"></i><span>14</span></a>
                <a class="block p-2 rounded hover:bg-gray-200 mr-1 commentButton" href="#"><i class="bi text-xl bi-chat mr-1"></i><span>{{question.answers[0].comments|length}}</span></a>
            </div>
            <div class="col-span-3 flex justify-end">
                <a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi p-2 text-xl bi-three-dots"></i></a>
            </div>
        </div>
        <a style="display:block" href="#" class="numberOfComments block p-3 mt-2 bg-gray-200 text-gray-400">{{question.answers[0].comments|length}} commentaires</a>
        <div style="display:none" class="comments"> 
            <div class="commentForm">

            </div>
            <div class="commentList">         
                {% for comments in question.answers[0].comments %}
                    <div class="commentheader flex ">
                        <img class="block" src="https://placehold.it/45x45" alt="">
                        <div class="ml-2">
                            <p class="font-semibold text-xl">{{comments.author.pseudonym}}</p>
                            <p class="text-gray-300">{{comments.createdAt|date('d/m/Y')}}</p>
                        </div>
                    </div>
                    <p class="p-4">{{comments.comment}}</p>
                    <div class=" ml-3 pl-3 border-l-4 sub_comments">
                        {% for subComments in comments.subComments %}
                        <div class="commentheader flex ">
                            <img class="block" src="https://placehold.it/45x45" alt="">
                            <div class="ml-2">
                                <p class="font-semibold">{{subComments.author.pseudonym}}</p>
                                <p class="text-gray-300">{{subComments.createdAt|date('d/m/Y')}}</p>
                            </div>
                        </div>
                        <p class="p-4">{{subComments.subComment}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}