{% for element in query_results %}
	{% if element.name is defined %}
		<a href="{{path('app_space_show',{'id':element.id})}}" data-id = {{loop.index0}}>
            <div class="subscription space border-b-2 p-4">
                <h3 class="font-black align-center"><img class="inline mr-2 rounded" src="https://picsum.photos/40/40" alt="">{{element.name}}</h3>
                <p class="font-semibold text-gray-300">{{element.subscribers|length}} abonnées</p>
                <p>{{element.description}}</p>
       	    </div>
        </a>
    {% endif %}

	{% if element.pseudonym is defined %}
	    <a href="{{path('app_user_profile',{'pseudonym':element.pseudonym})}}" data-id = {{loop.index0}}>
            <div class="border-b-2 flex justify-between p-4">
                <h3 class="font-black align-center"><img class="inline mr-2 rounded-full" src="/images/profile_pictures/image-{{element.id}}.jpg" alt="" width="40px"> {{element.pseudonym}}, <span class="font-semibold text-gray-400">{{element.qualification}}</span></h3>
                {% if (app.user.isSubscribedTo(element) and element != app.user) %}
                <a href="#" data-id="{{element.id}}" class="subscribeButton pl-4 pr-4 pt-2 w-32 block text-center rounded-full border subscribed"><i class='bi bi-person-plus-fill mr-3'></i>Suivi</a>
                {% elseif (element != app.user) %}
                <a href="#" data-id="{{element.id}}" class="subscribeButton pl-4 pr-4 pt-2 w-32 block text-center rounded-full font-semibold border notSubscribed"><i class='bi bi-person-plus mr-3'></i>Suivre</a>
                {% endif %}
            </div>
        </a>
	{% endif %}

	{% if element.question is defined and element.question.question is not defined %}
	<div class="questions p-2" data-id = {{loop.index0}}>
		<h3 class="font-black">{{element.question}}</h3>
		<p class="font-semibold text-gray-400"><span>{{element.answers|length}}</span> réponses - Question posée le {{element.createdAt|date('d/m/Y')}}</p>
		<div class="links flex ">
			<a class="block p-2 rounded hover:bg-gray-200 mr-6" href="#"><i class="bi text-2xl bi-pencil-square"></i></a>
			<a href="#" class="block"></a>
		</div>
	</div>
	{% endif %}

	{% if element.answer is defined and element.answer is not iterable %}
	<div class="bg-white p-4 mb-3 border border-gray-300 questionAnswer" data-question-id = {{element.question.id}} data-questions-date ="{{element.question.createdAt|date('Y-m-d')}}" data-answer-id ="{{element.id}}" data-id = {{loop.index0}}>
        <div class="postHeader mb-3">
            <a href="{{path('app_user_profile',{'pseudonym':element.author.pseudonym})}}">
                <p class="text-xl"><img class="inline mr-2 rounded-full" src="/images/profile_pictures/image-{{element.author.id}}.jpg" alt="" width="40px">{{element.author.pseudonym}}
            </a>
            <a href="#" data-id="{{element.author.id}}" class="{% if app.user.isSubscribedTo(element.author) %}link-subscribed{% else %}link-unsubscribed{% endif %} subscribeLink text-base font-semibold ml-2">{% if app.user.isSubscribedTo(element.author) %}Suivi{% else %}Suivre{% endif %}</a></p>
            <p class="text-sm text-gray-400">{{element.author.qualification}}</p>
            <a href="{{path('app_question_show',{'id':element.question.id})}}" class="block text-xl font-black p-2">{{element.question.question}}</a>
        </div>
        {% set answer = element %}
        {% include 'partials/_answer_comment_subcomment.html.twig' %}
    </div>
	{% endif %}
{% endfor %}