{% for question in query_results %}
	<div class="answerHeader questions p-2 bg-white border border-b-1 border-l-1 border-r-1 bborder-gray-300" data-question-id={{question.id}} data-id = {{loop.index0}}>
		<a href="{{path('app_question_show',{'id':question.id})}}" class="font-black p-2">{{question.question}}</a>
		<p class="font-semibold text-gray-400">
			<a href="{{path('app_question_show',{'id':question.id})}}">{{question.answers|length}}
				réponses</a>
			- Question posée le
			{{question.createdAt|date('d/m/Y')}}</p>
	</div>
{% endfor %}